body{
	background-color:beige;
	font-family:"Arial";
}
table{
	width:75%;
	margin-left:auto;
	margin-right:auto;
	font-size:25px;
}
select{
	width:100%;
}
input{
	width:100%;
}
input.buttons{
	width:100%;
}
td.title{
	width:15%;
}
a{
	font-size:20px;
	text-align:center;
	display:inline-block;
	text-decoration:none;
	background-color:#eee;
	border:2px outset #ccc;
	color:black;
	margin:5px;
	width:100%;
}
div.home{
	position:absolute;
	bottom:5px;
	left:40%;
	right:40%;
}
div.update{
	position:absolute;
	bottom:5px;
	right:10%;
}